{{ if .Site.Params.widgets.categories }}
{{ if isset .Site.Taxonomies "categories" }}
{{ if not (eq (len .Site.Taxonomies.categories) 0) }}
<div class="card card-block">
  <h4 class="card-title">CATAGORIES</h4>
  <div class="card-text">
    <div class="widget">
      <ul>
        {{ range $name, $items := .Site.Taxonomies.categories }}
        <li class="category-list-item">
            <a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize | lower }}">
                {{ $name }}
            </a>
            <span class="category-list-count">{{ len $items }}</span>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}
{{ end }}
{{ end }}
