@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-bottom: 2rem;
  color: rgba(0, 0, 0, .84);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga" on;
  -moz-font-feature-settings: "liga" on;
}

.site-navbar {
  margin-bottom: 2rem;
}
/*Sticky footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.article-body {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.highlight pre {
  padding: 0.5rem;
}

h1.post-title,
.article-body h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1.post-title {
  font-size: 2.5rem;
}

.article-body h1 {
  font-size: 2.5rem;
  margin-top: 3.5rem;
}

.article-body h2 {
  font-size: 1.875rem;
  margin-top: 2.8rem;
}

.article-body h3 {
  font-size: 1.459rem;
  margin-top: 2rem;
}

.article-body h4 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.article-body h5 {
  font-size: 1rem;
  margin-top: 1rem 0
}

.article-body p {
  margin-top: 0.75  rem;
}

p code {
  background-color: rgba(0, 0, 0, 0.04);
}

pre code {
  font-size: 1.2rem;
  font-family: 'Inconsolata', monospace;
}

.card.no-border {
  border: 0px !important;
}

a {
  color: #00ab6b;
}

a,
a:hover {
  transition: all 0.2s;
  text-decoration: none;
}

section {
  margin-bottom: 20px;
}

.section-title {
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  margin-bottom: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 27px;
}

.section-title span {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  display: inline-block;
  padding-bottom: 0px;
  margin-bottom: -1px;
}

.post-card p.card-title {
  font-weight: 600;
  font-size: 1.459rem;
  line-height: 1;
}

.post-card p.card-title a {
  color: rgba(0, 0, 0, .85);
}

.post-card p.card-title a:hover {
  color: rgba(0, 0, 0, .7);
  text-decoration: none;
}

.post-card div.card-body,
.card-footer {
  background-color: #fff;
  border: 0px;
}

.post-card p.card-text {
  line-height: 1.25;
  letter-spacing: 0;
}

.card {
  border-radius: 4px;
}

.card .img-thumb {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.share {
  text-align: center;
  margin-top: 20px;
}

.share p {
  margin-bottom: 10px;
  font-size: 0.95rem;
}

.share {
  display: none;
}

.share ul li {
  display: inline-block;
  margin-bottom: 5px;
}

.share ul {
  padding-left: 0;
  margin-left: 0;
}

.svgIcon {
  vertical-align: middle;
}

@media (min-width:1024px) {
  .share {
    position: fixed;
    display: block;
  }
  .share ul li {
    display: block;
  }
}

.share,
.share a {
  color: rgba(0, 0, 0, .44);
  fill: rgba(0, 0, 0, .44);
}

.post-meta {
  margin-bottom: 1rem;
  display: table;
  font-size: 0.9 rem;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

.post-meta-item {
  margin-right: 10px;
  font-size: 0.9rem;
  font-weight: 300;
  float: left;
}

.post-meta-item>a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.share-icon {
  position: relative;
}

.comment-count {
  position: absolute;
  background-color: #00ab6b;
  opacity: 0.8;
  color: black;
  top: -3px;
  left: 22px;
  display: inline-block;
  padding: .25em .4em;
  font-size: 60%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .5rem;
}

.comment-count a {
  text-decoration: none;
  font-weight: 700;
  color: rgba(256, 256, 256, 0.9);
  ;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 1rem 1rem;
  quotes: "\201C""\201D""\2018""\2019";
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
}

blockquote p {
  display: inline;
}

blockquote p cite {
  color: rgba(0, 0, 0, 0.7);
  ;
  font-size: 1rem;
  display: block;
  margin-top: 5px;
  font-style: normal;
}

blockquote p cite:before {
  content: "\2014 \2009";
}