<!DOCTYPE html>
<html class="no-js">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}</title>
  {{ partial "base/metas" . }}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ "assets/css/font-awesome.min.css" | relURL }}">
  <link rel="stylesheet" href="{{ "assets/css/style.css" | relURL }}">
  <link rel="stylesheet" href="{{ "assets/css/tomorrow-night.css" | relURL }}">
  <link href='//fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

</head>
<body class="bg-light">
    {{ partial "base/header" . }}
