  <div class="container">
    {{ if isset .Site.Params.showBlogHeader true }}
      <div class="row">
        <header>
          {{ partial "content/h1-title" . }}
          <span>{{ .Site.Data.Strings.lastupdate }}:
            <time datetime="{{ .Site.LastChange.Format "2006-01-02T15:04:05Z07:00" }}">
              {{ .Site.LastChange.Format .Site.Data.Formats.datetime }}
            </time>
          </span>
        </header>
      </div>
    {{ end }}


    <section class="recent-posts">
        <div class="section-title">
          <h2><span>Recent Posts</span></h2>
        </div>
        <div class="row listrecent px-2">
      
            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
            {{ range $paginator.Pages.ByDate.Reverse }}
            <div class="col-xs-12 col-md-6 col-lg-4 pb-3 px-2 align-self-stretch d-flex align-items-stretch">
              <div class="card mx-0 recent-post-card">
                  

                      {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
                      <a href="{{ .Permalink }}" itemprop="url">
                          {{if or (in (substr .Params.banner 0 7) "http://") (in (substr .Params.banner 0 8) "https://")}}
                            <img src="{{ .Params.banner }}" class="card-img-top">
                          {{ else if  (in (substr .Params.banner 0 1) "/" ) }}
                            <img src="{{ .Params.banner | relURL }}" class="card-img-top">
                          {{ else }}
                            <img src="{{ .Permalink }}{{ .Params.banner }}" class="card-img-top">
                          {{end}}
                      </a>
                      {{ end }}

                  <div class="card-body">
                    <h2 class="card-title">
                        <a href="{{ .Permalink }}">{{ if .IsPage }}{{ if .Draft }}{{ .Site.Data.Strings.draft }} :: {{ end }}{{ end }}{{ .Title }}</a>
                    </h2>
                    <h4 class="card-text">
                        {{ if .IsPage }}
                        {{ if .Description }}
                          {{ .Description | markdownify }}
                        {{ else }}
                          {{ .Summary }}
                        {{ end }}
                      {{ end }}
                    </h4>

                  </div>
                  <div class="card-footer recentpost">
                      <small class="text-muted">
                          <time datetime="{{ .Date.Format "22 July 2017" }}">{{ .Date.Format .Site.Data.Formats.date }}</time>
                        &middot;&nbsp;{{ .ReadingTime }} {{ .Site.Data.Strings.metaReadinMinutes }}
                      </small>
                      
                  </div>  
                </div>
              </div>
            {{ end }}
            {{ partial "content/pagination" . }}

          <!-- begin post -->
        </div>
    </section>
        
        <!--
    <div class="row m-l-0 m-r-0">                </div>

      <div class="col-xs-12 col-md-9">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $paginator.Pages.ByDate.Reverse }}
          {{ .Render "summary" }}
        {{ end }}
        {{ partial "content/pagination" . }}
      </div>
        <div class="col-xs-12 col-md-3">
          {{ partial "content/sidebar" . }}
        </div>
    </div>
  -->

  </div>
