  <div class="container">
    {{ if isset .Site.Params.showBlogHeader true }}
      <div class="row">
        <header>
          {{ partial "content/h1-title" . }}
          <span>{{ .Site.Data.Strings.lastupdate }}:
            <time datetime="{{ .Site.LastChange.Format "2006-01-02T15:04:05Z07:00" }}">
              {{ .Site.LastChange.Format .Site.Data.Formats.datetime }}
            </time>
          </span>
        </header>
      </div>
    {{ end }}
    <div class="row m-l-0 m-r-0">
      <div class="col-xs-12 col-md-9">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $paginator.Pages.ByDate.Reverse }}
          {{ .Render "summary" }}
        {{ end }}
        {{ partial "content/pagination" . }}
      </div>
        <div class="col-xs-12 col-md-3">
          {{ partial "content/sidebar" . }}
        </div>
    </div>

  </div>
