<nav class="navbar navbar-light blog-header">
  <div class="container">
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse"
        data-target="#exCollapsingNavbar2"
        aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar2">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      <ul class="nav navbar-nav">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
          <li class="nav-item">
          <a class="nav-link menu-item" href="{{.URL}}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
          </a>
        </li>
        {{end}}
      </ul>
    </div>
  </div>
</nav>
