<nav class="navbar navbar-expand-md fixed-top site-navbar {{ .Site.Params.navbarBgColorClass | default .Site.Data.Defaults.navbarBgColorClass }}">
    <a class="navbar-brand text-white" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  <button class="navbar-toggler" 
  type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2"
    aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav ml-auto">
      {{ $currentNode := . }} {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a class="nav-link menu-item" href="{{.URL}}">
          {{ .Pre }}
          <span class="text-capitalize no-decoration {{ $.Site.Params.navbarLinkFgColorClass | default $.Site.Data.Defaults.navbarLinkFgColorClass }}">{{ .Name }}</span>
        </a>
      </li>
      {{end}}
    </ul>
  </div>
</nav>