<script src="{{ "/assets/js/jquery.min.js" | absURL }}"></script>
<script src="{{ "/assets/js/tether.min.js" | absURL }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "/assets/js/highlight.pack.js" | absURL }}"></script>

<script>hljs.initHighlightingOnLoad();</script>

{{ with .Site.DisqusShortname }}
<script id="dsq-count-scr" src="//{{ . }}.disqus.com/count.js" async></script>
{{ end }}

<script src="{{ "/assets/js/script.js" | absURL }}"></script>

{{ with .Site.Params.googleAnalytics }}
<script>
  var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{{ end }}
