
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha256-GIa8Vh3sfESnVB2CN3rYGkD/MklvMq0lmITweQxE1qU=" crossorigin="anonymous"></script>

<script src="{{ "assets/js/highlight.pack.js" | relURL }}"></script>

<script>hljs.initHighlightingOnLoad();</script>

{{ with .Site.DisqusShortname }}
<script id="dsq-count-scr" src="//{{ . }}.disqus.com/count.js" async></script>
{{ end }}

<script src="{{ "assets/js/script.js" | relURL }}"></script>

{{ template "_internal/google_analytics_async.html" . }}

